.box
  %h3 Minute
  %select#minutes{:multiple => "multiple", :name => "schedule[minutes][]"}
    - (0..59).each do |i|
      %option{:selected => "selected", :value => i, :selected => selected?(:minutes, i)}= i
  %br/
  = link_to "Select all", '#', :class => 'select_all'
  |
  \#{link_to "Clear all", '#', :class => 'clear_all'}
.box
  %h3 Hour
  %select#hours{:multiple => "multiple", :name => "schedule[hours][]"}
    - (0..23).each do |i|
      %option{:selected => "selected", :value => i, :selected => selected?(:hours, i)}= i
  %br/
  = link_to "Select all", '#', :class => 'select_all'
  |
  \#{link_to "Clear all", '#', :class => 'clear_all'}
.box
  %h3 Day
  %select#days{:multiple => "multiple", :name => "schedule[days][]"}
    - (1..31).each do |i|
      %option{:selected => "selected", :value => i, :selected => selected?(:days, i)}= i
  %br/
  = link_to "Select all", '#', :class => 'select_all'
  |
  \#{link_to "Clear all", '#', :class => 'clear_all'}
.box
  %h3 Month
  %select#months{:multiple => "multiple", :name => "schedule[months][]"}
    - (1..12).each do |i|
      %option{:selected => "selected", :value => i, :selected => selected?(:months, i)}= i
  %br/
  = link_to "Select all", '#', :class => 'select_all'
  |
  \#{link_to "Clear all", '#', :class => 'clear_all'}
.box
  %h3 Weekday
  %select#weekdays{:multiple => "multiple", :name => "schedule[weekdays][]"}
    - (0..6).each do |i|
      %option{:selected => "selected", :value => i, :selected => selected?(:weekdays, i)}= i
  %br/
  = link_to "Select all", '#', :class => 'select_all'
  |
  \#{link_to "Clear all", '#', :class => 'clear_all'}

%br/
%br/

%label Command:
%input.span9#command{:name => "command", :size => "500", :type => "text", :value => (@job and @job.command.get)}/
%input.btn{:type => "submit", :value => "Create"}/
%br/
%br/
